*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
:before,:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html {
  height:100%;
}
body {
  height:100%;
  background: #1c2d3e;
  color: #c9c9c9;
  font-size:16px;
  font-weight: 400;
  line-height:30px;
  font-family: "Menlo", "Meslo LG", monospace;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding:0; 
  margin:0;
}
a,a:active,a:focus,input:focus{
  text-decoration:none!important;
  outline:0;
}
.content-wrapper{
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
  z-index:1;
}
.content-wrapper::before{
  content:'';
  display:inline-block;
  height:100%;
  margin-right:-.25em;
  vertical-align:middle;
}
.v-center{position:relative;display:inline-block;width:86%;text-align:left;vertical-align:middle}
p{font-size:1em;line-height:1.875em;margin:0;padding:0 0 .9375em}
h3{margin-bottom:.714em;padding:0;font-size:1.333em;line-height:1.429em}
ul{padding:0;margin:0;font-size:.75em}
ul li{
  position:relative;
  display:inline;
  padding-bottom:.1875em;
  margin-right:.75em;
}
li a{
  color:#29946e;
  border-bottom-style: dotted;
  border-width: 1px;
}

.layout-center .v-center,.layout-center .footer{text-align:center}
.layout-center .main-content{margin:0 auto}
@media only screen and (min-width : 768px){body{font-size:22px;line-height:48px}.main-content{width:80%}}
@media only screen and (min-width : 1200px){body{font-size:26px;line-height:48px}}
@media only screen and (min-width : 1824px){body{font-size:32px;line-height:60px}}
